.homePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: auto;
}

.dropdownGroup {
    display: flex;
    white-space: nowrap;
    margin-bottom: 1em;
    flex: 1;
}

.durations {
    margin-bottom: 1em;
    white-space: nowrap;
    display: flex;
    flex: 1;
}

.controls {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

@media (min-width: 768px) {
    .controls {
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .dropdownGroup {
        margin-right: 1em;
    }
}

.gif {
    width: 100%;
    max-height: 33vh;
    display: block;
    margin: auto;
}

.gifContainer {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

:global(.ui).pageContent {
    margin: auto;
    text-align: center;
}

:global(.ui.selection).dropdown {
    border-radius: .28571429rem 0 0 .28571429rem;
    min-width: 7rem;
    flex: 1;
}