html, body, :global(#root) {
    background: #222;
    color: #fff;
    height: 100%;
    min-height: 100vh;
}

:global(.ui.selection.dropdown), :global(.ui.button) {
    border: 1px solid transparent !important;
}
